services:
  - type: web
    name: coinbase-crypto-touch-scanner
    env: docker
    plan: starter
    autoDeploy: true
    disk:
      name: data
      mountPath: /var/data
      sizeGB: 1
    envVars:
      - key: MODEL_DIR
        value: /var/data/models
